{% extends "base.html" %} 
{% load static %}

{% block content %}

<div class="row">
    <div class="col">
        <div class="home-holder text-center">
            <h1 class="fs-3">Hello, World</h1>
            <p>Welcome to the world's most amazing smart app</p>
            <!--<a href="{% url "notes.list" %}" class = "btn btn-success btn-sm">Go To Smart Notes</a> a-->
            <a href="{% url "login" %}" class = "btn btn-success btn-sm">login</a>
            <!--<a href="{% url "logout" %}" class = "btn btn-success btn-sm">Logout</a> a-->
            
        </div>
    </div>
</div>

{% endblock %}



